{% extends 'website/components/base.html' %}
{% block title %}{{blog.title}}{% endblock %}
{% load static %}
{% block body %}
<!-- Page Title -->
<section class="page-title">
    <div class="auto-container">

    </div>
</section>
<!--End Page Title-->

<!--Sidebar Page Container-->
<div class="sidebar-page-container" style="padding-top: 50px;">
    <div class="patern-layer-one paroller" data-paroller-factor="0.40" data-paroller-factor-lg="0.20"
        data-paroller-type="foreground" data-paroller-direction="vertical"
        style="background-image: url(images/icon-1.png)"></div>
    <div class="patern-layer-two paroller" data-paroller-factor="0.40" data-paroller-factor-lg="-0.20"
        data-paroller-type="foreground" data-paroller-direction="vertical"
        style="background-image: url(images/icon-2.png)"></div>
    <div class="circle-one"></div>
    <div class="circle-two"></div>
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Sidebar Side -->
            <div class="sidebar-side style-two blog-sidebar col-lg-3 col-md-12 col-sm-12">
                <div class="sidebar-inner sticky-top">
                    <aside class="sidebar ">

                        <!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">

                            <!-- Sidebar Title -->
                            <div class="sidebar-title">
                                <h5>Recent Blog</h5>
                            </div>

                            <div class="widget-content">
                                {% for blog in recent_blogs %}
                                <article class="post">
                                    <div class="post-inner">
                                        <figure class="post-thumb"><a href="{% url 'blog_details' blog.id %}"><img
                                                    src="{% if blog.featured_image %}{{blog.featured_image.url}}{% endif %}" alt=""></a></figure>
                                        <div class="text"><a href="{% url 'blog_details' blog.id %}">{{blog.title}}</a>
                                        </div>
                                        <div class="post-info">{{blog.created_by.username}}</div>
                                    </div>
                                </article>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Popular Tags -->
                        <div class="sidebar-widget popular-tags">

                            <!-- Sidebar Title -->
                            <div class="sidebar-title">
                                <h5>Categories</h5>
                            </div>

                            <div class="widget-content">
                                {% for category in blog_categories %}
                                <a href="/blogs/?category={{category.id}}">{{category.name}}</a>
                                {% endfor %}
                            </div>
                        </div>

                    </aside>
                </div>
            </div>

            <!-- Content Side -->
            <div class="content-side blog-detail-column col-lg-9 col-md-12 col-sm-12">
                <div class="blog-detail">
                    <div class="inner-box">
                        <h2>{{blog.title}}</h2>
                        <ul class="author-info">
                            <li>{{blog.created_by.username}}</li>
                            <li><span class="theme_color">{{blog.created_at | date:"d M Y"}}</span></li>
                          
                        </ul>
                        <div class="image">
                            <img src="{% if blog.featured_image %}{{blog.featured_image.url}}{% endif %}" alt="">
                        </div>
                        <h4>{{blog.category}}</h4>
                        <p>{{blog.description}}</p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}