{% extends 'website/components/base.html' %}
{% block title %}Blogs{% endblock %}
{% load static %}
{% block body %}
<style>
    .cource-block-two .inner-box {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .cource-block-two .image {
        height: 220px;
        overflow: hidden;
    }

    .cource-block-two .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cource-block-two .lower-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .cource-block-two .text {
        flex-grow: 1;
    }
</style>
<!-- Page Title -->
<section class="page-title">
    <div class="auto-container">

    </div>
</section>
<!--End Page Title-->

<!--Sidebar Page Container-->
<div class="sidebar-page-container" style="padding-top: 50px;">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Side -->
            <div class="content-side col-lg-9 col-md-12 col-sm-12">
                <div class="our-courses">

                    <!-- Options View -->
                    <div class="row clearfix">
                        {% for blog in blogs %}
                        <div class="cource-block-two col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image">
                                    <a href="{% url 'blog_details' blog.id %}"><img
                                            src="{% if blog.featured_image %}{{blog.featured_image.url}}{% endif %}"
                                            alt="AA"></a>
                                </div>
                                <div class="lower-content">
                                    <h5><a {% if blog.link %}href="{{blog.link}}"{% endif %} target="_blank">{{blog.title |truncatewords:3}}</a></h5>
                                    <div class="text">{{blog.description|truncatewords:8}}</div>
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <div class="students">{{blog.created_by.username}}</div>
                                        </div>
                                        <div class="pull-right">
                                            <div class="hours">{{blog.created_at | date:'d M Y'}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                    {% include 'website/components/pagination.html' %}


                    <!-- Post Share Options -->


                </div>

            </div>

            <!-- Sidebar Side -->
            <div class="sidebar-side style-two col-lg-3 col-md-12 col-sm-12">
                <div class="sidebar-inner sticky-top">
                    <aside class="sidebar ">

                        <!-- Popular Posts -->
                        <div class="sidebar-widget popular-posts">

                            <!-- Sidebar Title -->
                            <div class="sidebar-title">
                                <h5>Recent Blogs</h5>
                            </div>

                            <div class="widget-content">
                                {% for blog in recent_blogs %}
                                <article class="post">
                                    <div class="post-inner">
                                        <figure class="post-thumb"><a href="{% url 'blog_details' blog.id %}"><img
                                                    src="{% if blog.featured_image %}{{blog.featured_image.url}}{% endif %}"
                                                    alt=""></a></figure>
                                        <div class="text"><a href="{{blog.link}}" target="_blank">{{blog.title |truncatewords:2}}</a>
                                        </div>
                                        <div class="post-info">{{blog.created_by.username}}</div>
                                    </div>
                                </article>
                                {% endfor %}
                            </div>
                        </div>

                        <!-- Popular Tags -->
                        <div class="sidebar-widget popular-tags">

                            <!-- Sidebar Title -->
                            <div class="sidebar-title">
                                <h5>Categories</h5>
                            </div>

                            <div class="widget-content">
                                {% for category in blog_categories %}
                                <a href="/blogs/?category={{category.id}}">{{category.name}}</a>
                                {% endfor %}
                            </div>
                        </div>

                    </aside>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- End Popular Courses -->

{% endblock %}