{% extends 'website/components/base.html' %}
{% block title %}Student Profile{% endblock %}
{% load static %}
{% block body %}
<style>
.cource-block-two .image{
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.cource-block-two .image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cource-block-two{
    margin-bottom:30px;
}

.cource-block-two .inner-box{
    height:100%;
    display:flex;
    flex-direction:column;
}

.cource-block-two .lower-content{
    flex:1;
    display:flex;
    flex-direction:column;
}

.cource-block-two .text{
    flex:1;
}
</style>
<!-- Page Title -->
<section class="page-title">
    <div class="auto-container">
    </div>
</section>
<!--End Page Title-->
<section class="profile-section" style="padding-top: 50px;">
    <div class="auto-container">

        <div class="row clearfix">

            <!-- Content Section -->
            <div class="content-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                
                    <h2>{{profile.name}}</h2>
                    <h4>{{profile.position}}</h4>
                    <h5>About Me</h5>
                    <p>{{profile.about}}</p>
                   
                </div>
            </div>

            <!-- Image Section -->
            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="{% if profile.featured_image %}{{profile.featured_image.url}}{% else %}{% static 'dashboard/images/no-profile.png' %}{% endif %}" alt="AA">
                    </div>
                    <h3>{{profile.name}}</h3>
                    <div class="text">{{profile.position}}</div>
                    <div class="social-box">
                        <a href="#" class="fa fa-facebook-square"></a>
                        <a href="#" class="fa fa-twitter-square"></a>
                        <a href="#" class="fa fa-linkedin-square"></a>
                        <a href="#" class="fa fa-github"></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Browse Course Section -->
    <div class="browse-course-section">
        <div class="auto-container">
           
            <div class="sec-title">
                <h2>All Courses by {{profile.name}}</h2>
            </div>
            <div class="row clearfix">
                {% for course in courses %}
                <!-- Cource Block Two -->
                <div class="cource-block-two col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <a href="{{course_details_url}}?title={{course.slug}}"><img src="{% if course.featured_image %}{{course.featured_image.url}}{% else %}{% static 'images/no-profile.png' %}{% endif %}" alt=""></a>
                        </div>
                        <div class="lower-content">
                            <h5><a href="{{course_details_url}}?title={{course.slug}}">{{course.title}}</a></h5>
                            <div class="text">{{course.description | truncatewords:10   }}</div>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <div class="students">{{course.lecturers.count}} Lecturers</div>
                                </div>
                                <div class="pull-right">
                                    <div class="hours">For {{course.level}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}