{% load static %}

<script src="{% static 'website/js/email-decode.min.js' %}"></script>
<script src="{% static 'website/js/jquery.js' %}"></script>
<script src="{% static 'website/js/popper.min.js' %}"></script>
<script src="{% static 'website/js/jquery.scrollTo.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'website/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'website/js/appear.js' %}"></script>
<script src="{% static 'website/js/swiper.min.js' %}"></script>
<script src="{% static 'website/js/element-in-view.js' %}"></script>
<script src="{% static 'website/js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'website/js/parallax.min.js' %}"></script>
<script src="{% static 'website/js/tilt.jquery.min.js' %}"></script>
<!--Master Slider-->
<script src="{% static 'website/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'website/js/owl.js' %}"></script>
<script src="{% static 'website/js/wow.js' %}"></script>
<script src="{% static 'website/js/jquery-ui.js' %}"></script>
<script src="{% static 'website/js/script.js' %}"></script>